html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: #f0f2f5;
}

/* Leaflet container must have explicit height */
.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
